<html>
    <head>
        <title>123</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <style>
        .navbar-brand{
    color: #FFF9C9;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body {
  background-image: url('https://images.squarespace-cdn.com/content/v1/5e077e3c19536970a2d5defa/3c2069e9-780a-4c59-ba86-c3b3c4e169e9/beauty_background_3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.selectWrapper{
  outline: none;
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
}
.custom-select.d-block.w-800 {
    width: 800px;
    border: 1px solid #862B0D;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2px;
  }
#nat{
  border-radius: 15px;
width:150px;
}
#state{
  border-radius: 15px;
width:150px;
}
</style>
    <body>
        <nav class="navbar" style="background-color: #862B0D;">
            <div class="container-fluid">
              <a class="navbar-brand" href="https://www.cbit.ac.in/" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/en/6/68/Chaitanya_Bharathi_Institute_of_Technology_logo.png" alt="Logo" width="30" height="34" class="d-inline-block align-text-top">
                <span style="vertical-align: middle">&nbsp;Chaitanya Bharathi Institute of Technology</span>
              </a>

              <form class="d-flex" role="search">
                <a href="/home/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16" style="color: #FFF9C9;">
                  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                </svg></a>
              </form>
            </div>
        </nav>

        <div class="container">
            <div class="py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
                    <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  </svg>
                  <br>
              <h2><b>Add</b></h2>
            </div>
            <div class="row">
              <div class="col-2">

              </div>
              <div class="col-8">
                <h4 class="mb-3">Add your work: </h4>
                
                <form method="POST" action="/addnew/{{res.id}}" class="needs-validation" novalidate="">
                      {% csrf_token%}
                  <input type="hidden" class="form-control" name="tname" id="id_tname"  value="{{res.tname}}" >
                <input type="hidden" class="form-control" name="tdept" id="id_tdept" value="{{res.tdept}}" >
                <input type="hidden" class="form-control" name="tid" id="id_tid"  value="{{res.tid}}" >
                <input type="hidden" class="form-control" name="temail" id="id_temail"  value="{{res.temail}}" >
                      <label for="firstName">Name of Paper<span class="mand" style="color: #9f330f;">&nbsp;*</span></label></label>
                      <input type="text" class="form-control" name="ptitle" id="id_ptitle" placeholder=""  required="">
                      <div class="invalid-feedback">
                        Please enter a valid research paper name.
                  </div><br>
                  <label for="date">Date of Publishing<span class="mand" style="color: #9f330f;">&nbsp;*</span></label></label></label>
    <div class="row justify-content">
        <div class="col-5">
            <input type="text" id="id_pdate" name="pdate" class="form-control"   />
            
        </div>
    </div><br>
                  <div class="mb-3">
                    <label for="desc">Description <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="id_pdesc" placeholder="A few lines about your work"  name="pdesc" >
                  </div><br>


                  <div class="row">
                    <div class="col-md-5 mb-3">
                      <label for="nat">National/International<span class="mand" style="color: #9f330f;">&nbsp;*</span></label></label></label>
                      <br>

                      <input type="text" class="form-control"  id="id_pnat" name="pnat"  required="">

                      <div class="invalid-feedback">
                        Please select a valid option.
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="state">Journal/Conference<span class="mand" style="color: #9f330f;">&nbsp;*</span></label></label></label>
                      <br>
                      <input type="text" class="form-control" id="id_ptype" name="ptype" required="" >
                        
                      <div class="invalid-feedback">
                        Please select a valid option.
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="zip">ISSN Code: <span class="text-muted">(Optional)</span></label>
                      <input type="text" class="form-control" id="id_pssn" name="pssn" placeholder="" required="" default="-" >
                      <div class="invalid-feedback">
                        Zip code required.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="field">Field of Research<span class="mand" style="color: #9f330f;">&nbsp;*</span></label></label></label>
                      <input type="text" class="form-control" id="id_pfield" name="pfield" placeholder="Mathematics, Chemistry..." required="" >
                      <div class="invalid-feedback">
                        Please enter a correct field.
                      </div>
                    </div>
        
                    <div class="mb-3">
                      <label for="link">Link<span class="mand" style="color: #9f330f;">&nbsp;*</span></label></label></label>
                      <input type="text" class="form-control" id="id_plink" name="plink" required=" " placeholder="Provide a link to view your work" >
                    </div>

                  <div class="col-3">
                  <button class="btn btn-primary btn-lg btn-block" type="submit" style="background-color: #9f330f;">Add</button>
                </form>
          </div>

          

    </body>
</html>